# Node
node_modules/
dist/

.classpath
.project
.setting/

# Java class
*.class

# Pacotes
*.jar

# Pastas
target/
test-classes/

# IDE
.idea
*.iml
*.iws
/reports
/log
/evidences
/workspace.xml
*.log
evidences

