<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%boldMagenta([%d{HH:mm:ss.SSS}]) %highlight([%thread]) %boldYellow(%-5level) %boldCyan(%logger{0}) - %boldGreen(%msg%n)</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>



<!--<conversionRule conversionWord="blue" converterClass="ch.qos.logback.core.pattern.color.BlueCompositeConverter"/>-->
<!--<conversionRule conversionWord="red" converterClass="ch.qos.logback.core.pattern.color.RedCompositeConverter"/>-->